# Prerequisites
*.d

# Object files
.vs
[Bb]in
Build
ipch
Debug
Release
[Xx]64
[Ww]in32
*.o
*.ko
*.obj
*.iobj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
*.ipdb
*.db
*.opendb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# other files
*.zip
*.rar
*.7z
*.doc
*.docx
